IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "rst_n" 4;
IO_PORT "rst_n" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC "seg[6]" 71;
IO_PORT "seg[6]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "seg[5]" 72;
IO_PORT "seg[5]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "seg[4]" 73;
IO_PORT "seg[4]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "seg[3]" 74;
IO_PORT "seg[3]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "seg[2]" 75;
IO_PORT "seg[2]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "seg[1]" 76;
IO_PORT "seg[1]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "seg[0]" 77;
IO_PORT "seg[0]" IO_TYPE=LVCMOS33 DRIVE=8;
