IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "board_led" 10;
IO_PORT "board_led" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;

IO_LOC "ext_led" 38;
IO_PORT "ext_led" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;
